<h3>Removing Duplicates</h3>

In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.DataFrame({"column 1": [1, 1, 2, 2, 3, 3, 3],
                     "column 2": [ "a", "a", "b", "b", "c", "c", "c"],
                     "column 3": ["A", "A", "B", "B", "C", "C", "C"]
                     })

print(data)

# creating a data set with duplicate values

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [9]:
data.duplicated()

# checking for duplicate rows - True indicates a duplicate row

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [10]:
data.drop_duplicates()  

# drops duplicate rows in their entirity, keeping only the first occurence

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [11]:
data = pd.DataFrame({"column 1": [1, 1, 2, 2, 3, 3, 3],
                     "column 2": [ "a", "a", "b", "b", "c", "c", "c"],
                     "column 3": ["A", "A", "B", "B", "C", "D", "C"]
                     })

In [ ]:
data.drop_duplicates(["column 3"])

# drops duplicate rows based on a specific column, keeping only the first occurence

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D