This note book follows the LinkedIn Learning Introduction to Machine Learning course

In [9]:
import pandas as pd
import numpy as np

In [10]:
numbers_df = pd.DataFrame(np.arange(0, 90, 3).reshape(10, 3), 
index = [f"Row {i}" for i in range(1, 11)], columns = [f"Column {i}" for i in range(1, 4)])

# here we are creating a simple data frame of numbers between 0 and 90, capturing every third number only
# this will have 10 rows and 3 columns with given indices

In [11]:
numbers_df

#printing the DF

        Column 1  Column 2  Column 3
Row 1          0         3         6
Row 2          9        12        15
Row 3         18        21        24
Row 4         27        30        33
Row 5         36        39        42
Row 6         45        48        51
Row 7         54        57        60
Row 8         63        66        69
Row 9         72        75        78
Row 10        81        84        87

In [12]:
# simple indexing (indices start at 0)

print(numbers_df.iloc[0, 1])

# here we are looking at row 0 and column 1

3

In [13]:
'''
numbers_df.iloc[0, 1] = 20
print(numbers_df.iloc[0, 1])
numbers_df
'''

# DF objects can be changed as per above

'\nnumbers_df.iloc[0, 1] = 20\nprint(numbers_df.iloc[0, 1])\nnumbers_df\n'