This note book follows the LinkedIn Learning Introduction to Machine Learning course

In [1]:
import pandas as pd
import numpy as np

In [2]:
numbers_df = pd.DataFrame(np.arange(0, 90, 3).reshape(10, 3), 
index = [f"Row {i}" for i in range(1, 11)], columns = [f"Column {i}" for i in range(1, 4)])

# here we are creating a simple data frame of numbers between 0 and 90, capturing every third number only
# this will have 10 rows and 3 columns with given indices

In [3]:
numbers_df

#printing the DF

        Column 1  Column 2  Column 3
Row 1          0         3         6
Row 2          9        12        15
Row 3         18        21        24
Row 4         27        30        33
Row 5         36        39        42
Row 6         45        48        51
Row 7         54        57        60
Row 8         63        66        69
Row 9         72        75        78
Row 10        81        84        87

In [ ]:
print(numbers_df.iloc[0, 1])

# simple indexing (indices start at 0)
# here we are looking at row 0 and column 1

3

In [5]:
'''
numbers_df.iloc[0, 1] = 20
print(numbers_df.iloc[0, 1])
numbers_df
'''

# DF objects can be changed as per above

'\nnumbers_df.iloc[0, 1] = 20\nprint(numbers_df.iloc[0, 1])\nnumbers_df\n'

In [ ]:
print(numbers_df.iloc[[1,3,5], [1]])

# more complex indexing (indices start at 0)
# here we are looking at rows 2, 4 and 6 and column 2

       Column 2
Row 2        12
Row 4        30
Row 6        48

In [ ]:
mask = numbers_df >= 30
print(mask)

# identifying numbers greater than 30 -- can be any boolean condition

        Column 1  Column 2  Column 3
Row 1      False     False     False
Row 2      False     False     False
Row 3      False     False     False
Row 4      False      True      True
Row 5       True      True      True
Row 6       True      True      True
Row 7       True      True      True
Row 8       True      True      True
Row 9       True      True      True
Row 10      True      True      True

In [ ]:
numbers_df[mask]

# returning the subset of the DF where the boolean condition is met

        Column 1  Column 2  Column 3
Row 1        NaN       NaN       NaN
Row 2        NaN       NaN       NaN
Row 3        NaN       NaN       NaN
Row 4        NaN      30.0      33.0
Row 5       36.0      39.0      42.0
Row 6       45.0      48.0      51.0
Row 7       54.0      57.0      60.0
Row 8       63.0      66.0      69.0
Row 9       72.0      75.0      78.0
Row 10      81.0      84.0      87.0

In [ ]:
numbers_df.iloc[2:6, 1:3]

# slicing 3rd to 6th row and 2nd to 3rd column

       Column 2  Column 3
Row 3        21        24
Row 4        30        33
Row 5        39        42
Row 6        48        51