<h4>Melbourne Data - Kaggle</h4>

This is a notebook tackling the learning at https://www.kaggle.com/code/dansbecker/basic-data-exploration

In [5]:
import pandas as pd 
pd.options.display.float_format = '{:,.2f}'.format # rounding float values to 2 decimal places

In [6]:
'''
file_path = "kaggle_datasets/train_data_housing.csv"
home_data = pd.read_csv(file_path)
home_data.describe()
'''

'\nfile_path = "kaggle_datasets/train_data_housing.csv"\nhome_data = pd.read_csv(file_path)\nhome_data.describe()\n'

In [ ]:
file_path = "kaggle_datasets/melb_data.csv"
melb_data = pd.read_csv(file_path)
melb_data.describe()

# Descriptive stats immediately identify 13,580 rows of data for most columns aside from three

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,"13,580.00","13,580.00","13,580.00","13,580.00","13,580.00","13,580.00","13,518.00","13,580.00","7,130.00","8,205.00","13,580.00","13,580.00","13,580.00"
mean,2.94,"1,075,684.08",10.14,"3,105.30",2.91,1.53,1.61,558.42,151.97,"1,964.68",-37.81,145.00,"7,454.42"
std,0.96,"639,310.72",5.87,90.68,0.97,0.69,0.96,"3,990.67",541.01,37.27,0.08,0.10,"4,378.58"
min,1.00,"85,000.00",0.00,"3,000.00",0.00,0.00,0.00,0.00,0.00,"1,196.00",-38.18,144.43,249.00
25%,2.00,"650,000.00",6.10,"3,044.00",2.00,1.00,1.00,177.00,93.00,"1,940.00",-37.86,144.93,"4,380.00"
50%,3.00,"903,000.00",9.20,"3,084.00",3.00,1.00,2.00,440.00,126.00,"1,970.00",-37.80,145.00,"6,555.00"
75%,3.00,"1,330,000.00",13.00,"3,148.00",3.00,2.00,2.00,651.00,174.00,"1,999.00",-37.76,145.06,"10,331.00"
max,10.00,"9,000,000.00",48.10,"3,977.00",20.00,8.00,10.00,"433,014.00","44,515.00","2,018.00",-37.41,145.53,"21,650.00"

In [ ]:
melb_data.columns

# Viewing the column headers

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
melb_data = melb_data.dropna(axis=0)
melb_data.describe()

# This drops data rows where there is a missing data point in the row.  This is crude but serves our purpose here!
# It results in 6,196 rows of complete data

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,"6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00","6,196.00"
mean,2.93,"1,068,828.20",9.75,"3,101.95",2.90,1.58,1.57,471.01,141.57,"1,964.08",-37.81,144.99,"7,435.49"
std,0.97,"675,156.43",5.61,86.42,0.97,0.71,0.93,897.45,90.83,38.11,0.08,0.10,"4,337.70"
min,1.00,"131,000.00",0.00,"3,000.00",0.00,1.00,0.00,0.00,0.00,"1,196.00",-38.16,144.54,389.00
25%,2.00,"620,000.00",5.90,"3,044.00",2.00,1.00,1.00,152.00,91.00,"1,940.00",-37.86,144.93,"4,383.75"
50%,3.00,"880,000.00",9.00,"3,081.00",3.00,1.00,1.00,373.00,124.00,"1,970.00",-37.80,145.00,"6,567.00"
75%,4.00,"1,325,000.00",12.40,"3,147.00",3.00,2.00,2.00,628.00,170.00,"2,000.00",-37.76,145.05,"10,175.00"
max,8.00,"9,000,000.00",47.40,"3,977.00",9.00,8.00,10.00,"37,000.00","3,112.00","2,018.00",-37.46,145.53,"21,650.00"